@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2:wght@400;500;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 50%;
  width: 20%;
  border: 2px solid white;
  border-radius: 150px;
  margin-left: -150px;
}
.navbar {
  display: flex;
  background-color: rgb(41, 40, 40);
  position: sticky;
  top: 0%;
  cursor: pointer;
  height: 65px;
}
.nav-list {
  display: flex;
  margin-left: -136px;
  padding: 0 4px;
}

.nav-list li {
  list-style: none;
  padding: 16px 30px;
  font-size: 1em;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Source Serif 4", sans-serif;
  padding: 2px 8px;
}
.nav-list li a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 3px solid white;
  border-radius: 8px;
}
.background {
  background: url("/task1/img/background.jpeg");
  background-size: cover;
  background-blend-mode: darken;
  height: 90vh;
}

.firstSection {
  height: 80vh;
}

.box-main {
  display: flex;
  /* justify-content: end; */
  justify-content: space-around;
  /* align-items: center; */
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif font-size 1.5em;
  max-width: 100%;
  margin: auto;
  height: 50%;
}

.firsthalf {
  /* background-color: red; */
  margin: 10px 8px;
  /* margin-left: -10px; */
  width: 80%;
}

.text-small {
  margin: 22px 235px;
  font-size: 1.2em;
  /* color: black; */
  color: rgb(255, 183, 0);
  font-weight: bold;
  background-color: rgba(49, 141, 247, 0.575);
  padding: 20px;
  /* border: 1px solid rgb(5, 94, 179); */
  border-radius: 10px;
}
.secondhalf {
  width: 20%;
  height: 70%;
}
.secondhalf img {
  width: 50%;
  border: 2px solid white;
  border-radius: 200px;
  display: block;
  margin: 15px 114px;
}

.h-primary {
  font-size: 4.4em;
  color: white;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 112px;
  margin-top: 70px;
  text-shadow: 2px 2px 5px #2546ff;
}
.text-big {
  font-size: 120%;
}
.button {
  /* background-color: red; */
  width: 50%;
  height: 30%;
  margin: 20px 240px;
}

.btn {
  padding: 14px 74px;
  margin: 34px 266px;
  cursor: pointer;
  /* background-color: black; */
  background-color: rgba(41, 39, 39, 0.664);
  color: white;

  font-size: 1.4em;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Rowdies", cursive;
}

.btn:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
}

.btn-dark {
  color: black;
  border: 2px solid black;
}
.secRight {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}
.section {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 140%;
  margin-top: 20px;
  font-family: "ubantu", sans-serif;
  /* background-color: rgb(196, 196, 189); */
  /* background-image: linear-gradient(rgb(43, 167, 250), rgb(246, 255, 255)); */
  background-image: linear-gradient(to bottom right, rgb(168, 227, 255), white);

  /* font-size: 105%; */
}

.Section-left {
  flex-direction: row-reverse;
}
.section-right {
  flex-direction: row-reverse;
}
.paras {
  padding: 0px 60px;
  font-size: 126%;
}

.sectionTag {
  padding: 16px 0;
  /* font-size: 194%; */
  font-size: 2.4em;
  margin-top: -28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.sectionSubTag {
  color: red;
  margin-top: 30px;
  font-size: 0.9em;
  padding: 2px;
  line-height: 28px;
  font-family: cursive;
}

.thumbnail img {
  width: 300px;
  height: 254px;
  /* border: 1px solid black; */
  border-radius: 26px;
  margin-top: 19px;
  margin-right: 50px;
  margin-left: 95px;
}

.Contact {
  height: 720px;
  /* background-color: red; */
  margin: 35px 0px;
  background-image: linear-gradient(to bottom right, rgb(247, 206, 71), white);
}
.text-Center {
  text-align: center;
  padding: 30px;
  /* font-family: 'ubantu', sans-serif; */
  font-size: 3em;
}
.Form {
  /* max-width:300px; */
  width: 50%;
  margin: 0px auto;
  border: 2px solid black;
  display: flex;
  border-radius: 10px;
  /* align-items: center; */
  flex-direction: column;
  padding: 18px 26px;
  /* background-color: rgba(247, 220, 99, 0.486); */
  background-color: transparent;
}
.Form input {
  margin: 15px 0;
  padding: 5px 3px;
  width: 80%;
  font-size: 15px;
  border: 2px solid gray;
  border-radius: 6px;
}
.form-label {
  font-size: 1.3em;
  font-weight: bold;
}

.submit {
  padding: 14px 14px;
  margin: 34px 266px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1.4em;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Rowdies", cursive;
}

.submit:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.foot {
  text-align: center;
  background: black;
  color: white;
  padding: 5px;
  margin: 20px 0;
}


@media only screen and (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
  .burger {
    display: block;
  }
}